body {
  margin: 0;
  padding: 0;
  background: #909496;
  border: double 20px  rgba(234, 240, 247, 0.644);
  border-radius: 8.5%;
}

.header {
  font-size: 80;
  color: aliceblue;
  text-align: center;
  text-shadow: 2px 3px 5px rgba(54, 79, 102, 0.781);
  font-family: Impact;
}

.eyes {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.eye {
  width: 140px;
  height: 120px;
  background: #fff;
  display: inline-block;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 8px 8px 5px rgba(58, 71, 84, 0.776);
  position: relative;
  overflow: hidden;
}
.ball {
  width: 80px;
  height: 80px;
  background: rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
   
}

