.home {
    align-items: "center";
}

.header {
    font-family: 'Times New Roman';
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-shadow: 2px 2px #000000;
}

.card {
    text-align: center;
    width: 100%;
    box-shadow: 6px 6px 4px 3px rgba(0, 0, 0, 0.171);
    align-items: center;
}

.color a:hover { 
    color: ghostwhite !important; 
    font-size: 120%; 
}

.navactive a:active {
    background-color: ghostwhite;
}

.ttext {
    color: rgb(255, 255, 255);
}

.body {
    background-image: url(./media/05.jpg);
    background-color: rgb(0, 0, 0);
}

.htag {
    text-shadow: 1px 1px 1px #000000;
    font-family: 'Times New Roman';
}

.footer {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: small;
    text-shadow: 2px 1px #000000de;
    padding-bottom: 1%;    
}
